<app-navbar></app-navbar>

<h1>{{ h1 }}</h1>

<div id="formId" class="col-xs-12 col-md-4 text-center">
  <form class="form">
    <div *ngIf="isUpd" class="form-group">
      <label for="idCliente">Id Cliente</label>
      <input
        type="text"
        class="form-control"
        name="idCliente"
        [(ngModel)]="cliente.idCliente"
      />
    </div>
    <div class="form-group">
      <label for="descrizione">Descrizione</label>
      <input
        type="text"
        class="form-control"
        name="descrizione"
        [(ngModel)]="cliente.descrizione"
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        class="form-control"
        name="email"
        [(ngModel)]="cliente.email"
      />
    </div>
    <div class="form-group">
      <label for="telefono">Telefono</label>
      <input
        type="text"
        class="form-control"
        name="telefono"
        [(ngModel)]="cliente.telefono"
      />
    </div>
    <div class="form-group">
      <label for="indirizzo">Indirizzo</label>
      <input
        type="text"
        class="form-control"
        name="indirizzo"
        [(ngModel)]="cliente.indirizzo"
      />
    </div>
    <div class="form-group">
      <label for="stato">Stato</label>
      <input
        type="text"
        class="form-control"
        name="stato"
        [(ngModel)]="cliente.stato"
      />
    </div>

    <button type="button" (click)="modificaCliente()" class="btn btn-primary">
      Salva Modifiche
    </button>
  </form>
</div>
