<div id="nav" class="navbar navbar-expand-lg">
  <a (click)="magazzPage()" class="navbar-brand">Il Tuo Magazzino</a>
  <p>Utente : {{ username }}</p>
  <button id="logoutbtn" *ngIf="isAuth" class="btn btn-dark" (click)="logOut()">
    Log out
  </button>
</div>
