.navbar-brand {
  font-size: 35px;
  color: black;
  font-family: serif;
  font-weight: bold;
  position: relative;
  margin-left: 50px;
  margin-top: 13px;
  height: 70px;
  text-shadow: 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white,
    0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white,
    0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white,
    0 0 4px white, 0 0 4px white, 0 0 4px white, 0 0 4px white;
}

.immag {
  width: 80px;
}
#logoutbtn {
  margin-left: 188px;
  border-radius: 25px;
}
p {
  margin-left: 500px;
  margin-top: 10px;
  font-size: 15px;
  color: white;
  font-family: serif;
  font-weight: bold;
  position: relative;

  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
#nav {
  background-color: #555556;

  border-radius: 6px;
  margin: 5px;
}
