<app-navbar></app-navbar>

<button
  *ngIf="roleIsAuth"
  (click)="visualizzaFormInserimento()"
  id="bott-parte"
  type="button"
  class="btn btn-dark"
>
  Inserisci Nuovo Ricambio
</button>

<button
  (click)="gestClienti()"
  id="bott-cliente"
  type="button"
  class="btn btn-dark"
>
  Gestione Clienti
</button>

<button
  id="bottExcel"
  (click)="scaricaExcel()"
  type="button"
  class="btn btn-dark"
>
  Scarica Excel
</button>
<table class="table table-striped">
  <thead class="black white-text">
    <tr>
      <th scope="col">Matricola</th>
      <th scope="col">Descrizione</th>
      <th scope="col">Stato</th>
      <th scope="col">Condizioni</th>
      <th scope="col">Cliente</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let parte of parti">
      <td>{{ parte.matricola }}</td>
      <td>{{ parte.descParte }}</td>
      <td>{{ parte.stato }}</td>
      <td>{{ parte.condizioniParte }}</td>
      <td>{{ parte.cliente }}</td>
      <td>
        <button
          id="bottModifica"
          *ngIf="roleIsAuth"
          (click)="visualizzaFormAggiornamento(parte.matricola)"
          type="button"
          class="btn btn-primary"
        >
          Modifica
        </button>
      </td>
      <td>
        <button
          *ngIf="roleIsAuth"
          (click)="eliminaParte(parte.idParte)"
          type="button"
          class="btn btn-danger"
          id="bottElimina"
        >
          Elimina
        </button>
      </td>
    </tr>
  </tbody>
</table>
