.table {
  font-weight: bolder;
  font-family: Cambria;
  color: black;
  font-size: 15px;
  color: black;
  margin-top: 20px;
  background-color: white;

  /*text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black,
    0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black,
    0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black,
    0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;*/
}
#bott-parte {
  margin-left: 5px;
  margin-top: 20px;
  border-radius: 25px;
}
#bott-cliente {
  margin-top: 20px;
  border-radius: 25px;
  margin-left: 20px;
}
#bottExcel {
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 25px;
}
#bottElimina {
  margin-right: 15px;
  border-radius: 35px;
}
#bottModifica {
  margin-right: 15px;
  border-radius: 35px;
}
