.business {
  margin: auto;
  width: 50%;
}

.form {
  font-weight: bolder;
  font-family: Cambria;
  color: black;
  font-size: 20px;
  color: black;
  margin-left: 2px;
  margin-top: 40px;
  margin-bottom: 40px;
}

h1 {
  font-weight: bolder;
  font-family: Cambria;
  color: black;
  font-size: 35px;
  color: black;
  margin-left: 460px;
  margin-top: 20px;
}
#formId {
  height: 100%;
  margin-left: 450px;
  justify-content: center;
  align-items: center;
}
