<app-navbar></app-navbar>

<h1>{{ h1 }}</h1>

<div id="formId" class="col-xs-12 col-md-4 text-center">
  <form class="form">
    <div *ngIf="isUpd" class="form-group">
      <label for="idParteForm">Id Parte</label>
      <input
        type="text"
        class="form-control"
        name="idParteForm"
        [(ngModel)]="parte.idParte"
      />
    </div>

    <div class="form-group">
      <label for="matricolaForm">Matricola</label>
      <input
        type="text"
        class="form-control"
        name="matricolaForm"
        [(ngModel)]="parte.matricola"
      />
    </div>
    <div class="form-group">
      <label for="descrizione">Descrizione</label>
      <input
        type="text"
        class="form-control"
        name="descrizione"
        [(ngModel)]="parte.descParte"
      />
    </div>
    <div class="form-group">
      <label for="stato">Stato</label>
      <input
        type="text"
        class="form-control"
        name="stato"
        [(ngModel)]="parte.stato"
      />
    </div>
    <div class="form-group">
      <label for="aggiornato">Aggiornato</label>
      <input
        type="text"
        class="form-control"
        name="aggiornato"
        [(ngModel)]="parte.aggiornato"
      />
    </div>
    <div class="form-group">
      <label for="condizioniParte">Condizioni Parte</label>
      <input
        type="text"
        class="form-control"
        name="condizioniParte"
        [(ngModel)]="parte.condizioniParte"
      />
    </div>

    <div class="form-group">
      <label for="cliente">Cliente</label>
      <input
        type="text"
        class="form-control"
        name="cliente"
        [(ngModel)]="parte.cliente"
      />
    </div>

    <button type="button" (click)="modificaParte()" class="btn btn-primary">
      Salva Modifiche
    </button>
  </form>
</div>
