h3 {
  color: black;
  font-size: 20px;
  color: darkgoldenrod;
  margin-left: 5px;
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
#div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#div2 {
  position: absolute;
  top: 50px;
}
h1 {
  font-style: oblique;
  font-weight: bolder;
}
#bottEntra {
  border-radius: 20px;
  width: 70px;
  height: 40px;
}
#input {
  border-radius: 30px;
}
