<app-navbar></app-navbar>
<!-- <div id="login" class="container"> -->
<div id="div" class="container h-100">
  <div id="div2" class="row align-items-center h-100">
    <div class="col-md-12 mx-auto">
      <h1>Accedi o Registrati</h1>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="input"
          placeholder="username"
          [(ngModel)]="username"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          id="input"
          placeholder="password"
          [(ngModel)]="password"
        />
      </div>
      <div class="form-group">
        <button id="bottEntra" (click)="gestAuth()" class="btn btn-dark">
          Entra
        </button>
      </div>

      <div class="alert alert-danger" role="alert" *ngIf="!autenticato">
        {{ errorMsg }}
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
