<app-navbar></app-navbar>
<h1>I Tuoi Clienti</h1>

<button
  *ngIf="roleIsAuth"
  (click)="visualizzaFormInserimento()"
  id="bott-parte"
  type="button"
  class="btn btn-dark"
>
  Inserisci Nuovo Cliente
</button>

<table id="table" class="table table-striped">
  <thead class="black white-text">
    <tr>
      <th scope="col">Descrizione</th>
      <th scope="col">Email</th>
      <th scope="col">Telefono</th>
      <th scope="col">Indirizzo</th>
      <th scope="col">Stato</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clienti">
      <td>{{ cliente.descrizione }}</td>
      <td>{{ cliente.email }}</td>
      <td>{{ cliente.telefono }}</td>
      <td>{{ cliente.indirizzo }}</td>
      <td>{{ cliente.stato }}</td>

      <td>
        <button
          id="bottModifica"
          *ngIf="roleIsAuth"
          (click)="visualizzaFormModifica(cliente.idCliente)"
          type="button"
          class="btn btn-primary"
        >
          Modifica
        </button>
      </td>
      <td>
        <button
          id="bottElimina"
          *ngIf="roleIsAuth"
          type="button"
          class="btn btn-danger"
        >
          Elimina
        </button>
      </td>
    </tr>
  </tbody>
</table>
