.table {
  font-weight: bolder;
  font-family: Cambria;
  color: black;
  font-size: 20px;
  color: black;
  margin-left: 2px;
  margin-top: 20px;
  /*text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black,
    0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black,
    0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black,
    0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;*/
}
#bott-parte {
  margin-left: 5px;
}
#bott-cliente {
  margin-left: 5px;
}

h1 {
  font-size: 35px;
  color: white;
  font-family: serif;
  font-weight: bold;
  position: relative;
  margin-left: 580px;
  margin-top: 13px;

  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}
#table {
  height: 30px;
  font-size: 15px;
}
#bottModifica {
  border-radius: 20px;
}
#bottElimina {
  border-radius: 20px;
}
